/* CUSTOM-PROPS */
:root {
  --text-color: #9e9aa8;
  --text-color-dark: #34313d;
  --accent-color: #2bd0d0;
  --accent-color-hover: #9ae3e3;
  --light-bg: #eff1f7;
  --dark-bg: #232127;
  --error-color: #f46363;
}


/* FONT-FACE */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-MediumItalic.woff2") format("woff2"),
  url("../fonts/Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
  url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
  url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 15px;
  line-height: 26px;
  background-color: #fff;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}


/* PLACEHOLDER-STYLES */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* BUTTON */
.button {
  display: inline-block;
  padding: 14px 40px 12px;
  border: 0;
  border-radius: 28px;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  background-color: var(--accent-color);
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.button:hover {
  background-color: var(--accent-color-hover);
}

.button:active {
  opacity: 0.6;
}

.button--samll {
  padding: 8px 24px;
  font-size: 15px;
  line-height: 22.5px;
}

.button--big {
  padding: 18px 40px 16px;
  border-radius: 35px;
}

.button--rectangle {
  border-radius: 5px;
}

.button--rectangle-big {
  border-radius: 10px;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* SITE-HEADER */
.site-header {
  margin-top: 48px;
  margin-bottom: 48px;
  background-color: #fff;
  font-weight: bold;
  line-height: normal;
}

.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: 45px;
}

/* LOGO */
.logo {
  display: inline-block;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  display: block;
  width: 120px;
  height: 33px;
  object-fit: contain;
}


/* SITENAV */
.site-header__sitenav {
  margin-right: auto;
}

.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 30px;
}

.sitenav__link {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: var(--text-color);
  text-decoration: none;
}

.sitenav__link:hover {
  color: var(--text-color-dark);
}

.sitenav__link:active {
  opacity: 0.6;
}

.site-header__auth {
  display: flex;
  align-items: center;
  margin-left: 45px;
}

.site-header__login-link {
  margin-right: 37px;
  color: var(--text-color);
  text-decoration: none;
}

.site-header__login-link:hover {
  color: var(--text-color-dark);
}

.site-header__login-link:active {
  opacity: 0.6;
}


/* HERO */
.hero {
  padding-top: 92px;
  padding-bottom: 222px;
  background-image: url("../img/working_with_computer.svg");
  background-repeat: no-repeat;
  background-position: left calc(50% + 476px) top 0 ;
}

.hero__inner {
  max-width: 565px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -2px;
  color: var(--text-color-dark) ;

}

.hero__text {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 36px;
}



/* INDEX-URL-SHORTENER-FEATURES-WRAPPER */
.index-url-shortener-features-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--light-bg);
}

.index-url-shortener-features-wrapper__url-shortener {
  margin-top: -84px;
}


/* URL-SHORTENER */
.url-shortener__form {
  display: flex;
  padding: 48px 64px;
  margin-bottom: 24px;
  border-radius: 10px;
  background-color: #4b3f6b;
  background-image: url("../img/purple-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.url-shortener__input-wrapper {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.url-shortener__input {
  flex-grow: 1;
  display: block;
  width: 100%;
  padding: 14px 32px;
  border: 3px solid transparent;
  border-radius: 10px;
  font-size: 20px;
  line-height: 36px;
  color: var(--text-color-dark);
}


.url-shortener__input:not(:focus):not(:placeholder-shown):invalid {
  border-color: var(--error-color);
  color: var(--error-color);
}

.url-shortener__error-msg {
  display: none;
}

.url-shortener__input:not(:focus):not(:placeholder-shown):invalid ~ .url-shortener__error-msg {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 8px);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  font-style: italic;
  color: var(--error-color);
  letter-spacing: 0.11px;
}


.url-shortener__results {
  font-size: 20px;
  line-height: 36px;
}

.url-shortener-result {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  border-radius: 5px;
  background-color: #fff;
  color: var(--text-color-dark);
}

.url-shortener-result:not(:last-child) {
  margin-bottom: 16px;
}

.url-shortener__original-link {
  width: 100%;
  margin-right: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.url-shortener__short-link {
  margin-right: 24px;
  text-decoration: none;
  color: var(--accent-color);
}

.url-shortener__copy-button {
  min-width: 103px;
}















/* STATISTICS */
.statistics-info {
  margin-top: 120px;
  margin-bottom: 120px;
}
.statistics {
  margin-bottom: 100px;
}

.statistics-title {
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  color: #34313D;
  text-align: center;
}

.statistics-text {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.122727px;
  color: #9E9AA8;
}


.global-wrapper {
  display: flex;
  align-items: flex-start;
}

.brand {
  position: relative;
  width: 350px;
  padding-top: 71px;
  padding-right: 32px;
  padding-bottom: 41px;
  padding-left: 32px;
  border-radius: 5px;
  background-color: #fff;
}

.brand__img {
  position: absolute;
  top: -44px;
  let: 32px;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: #3A3054;
  background-image: url("../img/statistics-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.detailed__img {
  position: absolute;
  top: -44px;
  let: 32px;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: #3A3054;
  background-image: url("../img/detailed-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.fully__img {
  position: absolute;
  top: -44px;
  let: 32px;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: #3A3054;
  background-image: url("../img/fully-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.brand:not(:last-child) {
  margin-right: 30px;
}

.brand-title {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #34313D;
}

.brand-text {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #9E9AA8;
}

.detailed {
  margin-top: 50px;
}

.detailed::after {
  content: "";

}

.fully {
  margin-top: 100px;
}

/* CTA */
.cta {
  padding-top: 57px;
  padding-bottom: 57px;
  background-color: #3A3054;
  background-image: url("../img/cta-bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.cta__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
  color: #FFFFFF;
  text-align: center;
}

.cta__button {
  text-align: center;
}

.btn {
  padding: 14px 40px 12px 40px;
  border-radius: 28px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  background-color: #2BD0D0;
  color: #FFFFFF;
}


/* FOOTER */
.site-footer {
  padding-top: 72px;
  padding-bottom: 70px;
  background-color: #232127;
  color: #fff;
}

.site-footer__container {
  display: flex;
  justify-content: space-between;
}

.site-footer__logo {
  margin-right: 260px;
}

.site-footer__logo__img {
  display: block;
  width: 120px;
  height: 33px;
}

.info-card {
  display: flex;
  flex-direction: column;
}

.info-card__title {
  padding: 0;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: #FFFFFF;
  }

.info-card__link {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.234375px;
  color: #BFBFBF;
  text-decoration: none;
}

.info-card__link:not(:last-child) {
  margin-bottom: 10px;
}

.info-card__link:active {
  color: #2BD0D0;
}

.actions-link {
  text-decoration: none;
  color: #fff;
}

.info-card__actions{
  display: flex;
}

.actions-link:not(:last-child) {
  margin-right: 24px;
}

.actions-link:active {
  color: #2BD0D0;
}

